html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevent horizontal scroll */
}

.features {
  background-image:url('../assets/images/feaback.jpg');            /* full viewport height */
  width: 100vmax;
  height: 100vh;
  background-size: 100% 100%;              /* full viewport height */      /* cover the whole area */
  background-position: center; /* center the image */
  background-repeat: no-repeat;
  position: relative;          /* if you want to position content inside */
  display: flex;               /* for centering content */
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  color: rgb(7, 6, 6);                /* text color */
  text-align: center;
}

.feature-card-1 {
  background: #000000;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
  display: flex;
  justify-content: column;
  transition: transform 0.3s ease;
  margin-right: 350px;
  position: relative;
  bottom: 10px;
  color:antiquewhite;
  animation: slideInRight 1s ease-out forwards;
}

.feature-card-2 {
  background: #000000;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
  display: flex;
  justify-content: column;
  transition: transform 0.3s ease;
  color:antiquewhite;
  margin-right: 400px;
  position: relative;
  bottom: 30px;
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 0.3s; /* adds a little stagger */
}

.feature-card-3 {
  background: #000000;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
  display: flex;
  justify-content: column;
  transition: transform 0.3s ease;
  color:antiquewhite;
  margin-right: 350px;
  animation: slideInRight 1s ease-out forwards;
  animation-delay: 0.6s;
}


.feature-card-1:hover {
  transform: translateY(-8px);
}

.feature-card-2:hover {
  transform: translateY(-8px);
}

.feature-card-3:hover {
  transform: translateY(-8px);
}


.feature-card p {
  font-size: 16px;
  color: #333;
}

.card-container {
  display: flex;
  flex-direction: column;   /* stack vertically */
  justify-content: space-evenly; /* evenly space cards */
  align-items: flex-end;    /* stick them to the right */
  height: 100%;             /* take full height so spacing works */
}
.logo-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.logo-img {
  width: 800px;
  height: 100vh; /* resize as needed */
  position: absolute; /* or fixed if you want it to stay when scrolling */
  top: 50%;
  left: 0%;   /* small offset from the left */
  transform: translateY(-50%); /* perfectly centers vertically */
}
