html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevent horizontal scroll */
}


.landing-container {
  width: 100vw;
  height: 100vh;              /* full viewport height */
  background-size: cover;      /* cover the whole area */
  background-position: center; /* center the image */
  background-repeat: no-repeat;
  position: relative;          /* if you want to position content inside */
  display: flex;               /* for centering content */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(7, 6, 6);                /* text color */
  text-align: center;
}

.nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between; /* pushes left + right to edges */
  align-items: center;
  padding: 20px;
  flex-wrap: nowrap; /* keep in one row */
}

.nav-right button, .nav-left {
  margin-left: 30px;
  color: white;
  border: none;
  background: rgb(58, 56, 56);
  cursor: pointer;
  flex-shrink: 1;
}

.nav-right button:hover, .nav-left:hover {
  color: #ddd;
}

.right{
  display: flex;
  margin-right: 25px;
}

.landing-title {
  opacity: 0;
  transform: translateY(50px); /* start lower */
  animation: fadeUp 1s ease-out forwards; /* run once on load */
}

/* Subtitle animation */
.landing-subtitle {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeUp 1s ease-out forwards;
  animation-delay: 0.5s; /* starts after title */
  padding-bottom: 50px;
  font-size: large;
}

/* Keyframes */
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}